@import "@styles/variables";

.sample {
  width: 100%;
  padding: 17px;
  line-height: 114%;
  @include gray-border(1px, 6px);
  position: relative;

  &::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 6px;
    height: 100%;
    background-color: $light-gray;
    border-radius: 5px 0 0 5px;
  }

  .title {
    color: black;
    & + * {
      margin-left: 15px;
    }
  }

  a {
    color: #208FBF;
  }

  .primary {
    border: 1px solid $primary;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      width: 6px;
      height: 100%;
      background-color: $light-gray;
      border-radius: 5px 0 0 5px;
    }
  }
}