@import "@styles/variables";

.main {
  padding-top: 45px;
  display: flex;
  flex-direction: column;

  @media (max-width: 545px) {
    padding-top: 0;
  }
}

.left {
  position: absolute;
  left: 60px;
  top: 25px;
  @media (max-width: 767px) {
    left: unset;
    right: 25px;
    top: 50px;
  }
}

.btn {
  @media (max-width: 545px) {
    height: 45px;
  }
}

.card {
  padding: 45px;
  display: flex;
  gap: 25px;

  @media (max-width: 767px) {
    flex-direction: column;
    padding: 15px;
  }

  .image {
    display: flex;
    flex-direction: column;
    img {
      width: 121px;
      height: 121px;
      object-fit: cover;
      margin-bottom: 5px;
    }

    @media (max-width: 767px) {
      & {
        img {
          max-height: 450px;
        }
      }
    }
  }

  .data {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
  }
}

.center {
  position: absolute;
  margin: 0 auto;
  top: 25%;
  left: 0;
  right: 0;
  bottom: 0;
}