.container {
  width: 100%;
  padding-top: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 45px;
  grid-template-rows: auto;
  grid-template-areas:
    "form form form"
    "repos repos repos"
    "repos repos repos";

  @media (max-width: 767px) {
    row-gap: 20px;
  }
}

.filters {
  grid-area: form;
}

.sort {
  margin-top: 15px;
}

.repos {
  position: relative;
  grid-area: repos;
  width: 100%;
  & > div {
    ::-webkit-scrollbar {
      display: none;
    }

    ::-webkit-scrollbar-track {
      display: none;
    }
  }
}



